.Wid10 {
	width:10%
}

.Wid20 {
	width:20%
}

.Wid30 {
	width:30%
}

.Wid40 {
	width:40%
}

.Wid50 {
	width:50%
}

.Wid60 {
	width:60%
}

.Wid70 {
	width:70%
}

.Wid80 {
	width:80%
}

.Wid90 {
	width:90%
}

.Wid100 {
	width:100%
}